{% extends 'base.html' %}

{% block title %}Recent Blogly Posts{% endblock %}

{% block content %}

{% if posts %}

<h1 class="display-4">Blogly Recent Posts</h1>

{% for post in posts %}
<div class="mt-1">
    <h3>{{post.title}}</h3>
    <p>
        {{post.content}}
        <br>
        <small>By <a href="/users/{{post.user_id}}">{{post.users.full_name}}</a><i> on {{post.created_at}}</i></small>
    </p>
    {% if post.tags %}
    <p>
        <strong>Tags: </strong>
        {% for tag in post.tags %}
        <a class="badge badge-primary" href="/tags/{{tag.id}}">{{tag.name}}</a>
        {% endfor %}
    </p>
    {% endif %}
</div>
{% endfor %}

{% else %}

<h1 class="display-4 mt-2">No Posts have been created</h1>

{% endif %}

{% endblock %}